doctype html
html
  head
    title= "ERROR 404!"
    style.
      body {
      background-color: coral;
      color: skyblue;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      }
  body
    h1 ERROR
    p
      | You're not allowed to be here, sorry. :\
    img(src='../../images/bsagirl.jpg', alt='BSA Girl', style="width:35%;height:35%;")
